html {
  scroll-behavior: smooth;
}

 /*navbar styling start*/
 #nav1{
    background-color:#FFFFFF;
  }

.navbar-default #mynavbar{
 background-color:#FFFFFF;
}
#mynavbar .navbar-nav {
  background-color:#FFFFFF; 
}

 #mynavbar .navbar-nav >  .active a {
   background-color:#00979d;
   color: white;
 }
 #mynavbar .navbar-nav > li a {
  color:indigo;
  font-size:16px;  
  transition:.5s;
}
#mynavbar .navbar-nav > li a:hover{
  background-color:lime;
  color:black; 
  border-radius:20px;
}

#logo{
  font-weight:600;
  font-size:25px; 
font-family: "Times New Roman", Times, serif;
color: red;
 background-color:#FFFFFF;
}
 /*navbar styling End*/

  /*Slider styling start*/
#myCarousel{
	margin-top:-48px;
	width:100%;}
#images{
  width: 100%;
}

 /*navbar styling End*/

  /*gallery  styling start*/
img.hover-shadow{
position: relative;
  transition:0.3s;  
  cursor: pointer;
  float: left;
  padding:5px;
  }
 img.hover-shadow:hover{
  box-shadow: 0 4px 10px 0 rgba(0, 0, 5, 0.520), 0 8px 25px 0 rgba(0, 0,10, 0.550);
  border-radius:20px;
}
.container .column img{
	position: relative;

}
.container .column img:hover{
  transform: rotate(5deg);
 
}
 /*navbar styling End*/

  /*About us styling start*/

 /*navbar styling end*/


  /*footer styling start*/

footer{
  background-color:#F9933F;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container .row{
	color:white;}
	
.container .row{
	 font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;

}
	
.container #footer1 input[type=search]{
  background-color: white;
  border-radius: 5px;
  border:2px solid #007d82;
  height:29px;
   font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
#textt:hover{
  color: #12121e;
}
.col-md-4 #textt a:hover{
  color: #12121e;
}
.container #footer1 input[type=search]{
	border-color:transparent;
	transition:0.9s ease;

}
.container #footer1 input[type=search]::placeholder{
   color:#000000;
   font-size:14px;
}

.container #footer1  button{
  background-color:white;
  color: #00979d;
  border-right:5px border-radius;
  height:29px;
  padding-top:3px;
  border:1px solid #fff;
  transition:0.6s;
  font-weight:900;
   font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
.container #footer1  button:hover {
  background-color:#1C2331;
  color: white;
  border:1px solid #fff; 
}
.container .col-md-4 h3 {
  color: #273746;
  font-weight: 200px;
  text-align: center;
   font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
.container .col-md-4 p {
  color: white;
  text-align: center;
  padding: 5px;
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.container .col-md-4 h5 a {
  text-decoration: none;
  font-weight:500px;
  display: block;
  text-align: center;
  color: white;
  padding-top:10px;
  transition:0.5s  ease-in-out;
}
.container .col-md-4 hr {
	height:0;
}
.container .col-md-4  ul {
margin-top: -20px;
  display: flex;
  position: absolute;

}

.container .col-md-4  ul li {
  list-style: none;
}
@media only screen and (max-width:770px) {
.container .col-md-4  ul {
	margin-top: 20px;
}

}
.container .col-md-4  ul li a {
  width:52px;
  height:52px;
  background: #fff;
  text-align: center;
  line-height:52px;
  font-size:25px;
  display: block;
  border-radius: 50%; 
  position: relative;
  overflow: hidden;
  border:2px solid #fff; 
  z-index: 1;

}
.container .col-md-4  ul li a .fa {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
 
}
.container .col-md-4   ul li a:hover .fa{
  color: #fff;
  transform: rotateY(360deg);
}
.container .col-md-4  ul li a:before{
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: 2;
}
.container .col-md-4  ul li a:hover:before{
  top: 0;
}
.container .col-md-4  ul li:nth-child(1) a:before {
  background: pink;
}
.container .col-md-4  ul li:nth-child(2) a:before {
  background: #33FFFF;
}
.container .col-md-4  ul li:nth-child(3) a:before {
  background: blue;
}
.container .col-md-4  ul li:nth-child(4) a:before {
  background:green;
}
.container .col-md-4  ul li:nth-child(5) a:before {
  background: red;
}


#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
        transition: 0.5s;
        z-index: 1;

}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;

}
#scroll:hover {
    background-color:#002640;
    -webkit-border-radius:8px;

 /*footer styling End*/